<%- include('./frame/header.ejs') %>
<%- include('./frame/menu.ejs') %>

<style>
	form {
		display: grid;
		place-items: center;
		padding-bottom: 30px;
	}
	
	.form-group {
		margin-bottom: 15px;
	}

	fieldset {
		padding-bottom: 20px;
	}
</style>
<div id="main">
	<h2 class="text-center">Contact & Password</h2>

	<form id="contactForm">
		<fieldset class="row">
			<legend>Change Contact</legend>
			<div class="form-group col-sm-12">
				<label for="email">Email</label>
				<input class="form-control" type="email" name="email" id="email" placeholder="Email">
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">+266&nbsp;</span>
				<input type="text" class="form-control" placeholder="5876 5432" name="cell1" id="cell1" aria-label="les">
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text" id="basic-addon1">+27(0)</span>
				<input type="text" class="form-control" id="cell2" placeholder="098 765 4321" name="cell2" aria-label="cell2">
			</div>
			<!-- todo add confirmation code [email or sms] -->
		</fieldset>
	</form>
	<input type="hidden" name="update_personal" value="true">
	<input type="hidden" name="id" value="">
	<button class="btn btn-primary " type="submit">Update</button>
</div>

<script>
		let name = () => /^[a-zA-Z]{3,14}\w$/.test($('#name').val().trim());
		let surname = () => /^[a-zA-Z]{3,14}\w$/.test($('#surname').val().trim());
		let email = () => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test($('#email').val().trim());
		let cell2 = () => /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im.test($('#cell2').val().trim());
		let cell1 = () => /^[0-9]{4}[-\s\.]?[0-9]{4}$/im.test($('#cell1').val().trim());
		let password = () => /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/.test($('#password').val());
		let password2 = () => ($('#confirmPassword').val() == $('#password').val());
		$('#contactForm').submit((e) => {
				e.preventDefault();

				console.log('necpp', name(), email(), cell2(), password(), password2());

				$.ajax({
						url: '172.105.204.217/contact/',
						type: 'POST',
						data: $('#contactForm').serialize(),
						success: (result) => {
								console.log('successfully registered');
								const showMessage = $('#showMessage');
								if (result.success) {
										showMessage.html(`
											<div class="alert alert-success alert-dismissible fade show" role="alert">
												<div>Welcome...</div>
											</div>`);
										$(location).attr('href', '/login');
								} else {
										let msg = '';
										result.msg ? msg = msg = result.msg : msg = 'Invalid credentials';
										showMessage.html(`
											<div class="alert alert-danger alert-dismissible fade show" role="alert">
												<div">${msg}</div>
											</div>`);
								}
								showMessage.show(2000);
								setTimeout(() => {
										showMessage.hide(2000);
								}, 5000);
						},
						error: (e) => {
								console.log('Error: ', e);
						}
				});
		});

		$('#name').keyup(() => {
				name() ? ($('#name').css('border', '#198754 solid 2px')) : ($('#name').css('border', '#dc3545 solid 2px'));
		});
		$('#surname').keyup(() => {
			surname() ? ($('#surname').css('border', '#198754 solid 2px')) : ($('#surname').css('border', '#dc3545 solid 2px'));
		});
		$('#password').keyup(() => {
				password() ? ($('#password').css('border', '#198754 solid 2px')) : ($('#password').css('border', '#dc3545 solid 2px'));
		});
		$('#confirmPassword').keyup(() => {
				password2() ? ($('#confirmPassword').css('border', '#198754 solid 2px')) : ($('#confirmPassword').css('border', '#dc3545 solid 2px'));
		});
		$('#email').keyup(() => {
				email() ? ($('#email').css('border', '#198754 solid 2px')) : ($('#email').css('border', '#dc3545 solid 2px'));
		});
		$('#cell1').keyup(() => {
				cell1() ? ($('#cell1').css('border', '#198754 solid 2px')) : ($('#cell1').css('border', '#dc3545 solid 2px'));
		});
		$('#cell2').keyup(() => {
				cell2() ? ($('#cell2').css('border', '#198754 solid 2px')) : ($('#cell2').css('border', '#dc3545 solid 2px'));
		});
</script>
<%- include('./frame/footer.ejs') %>