<%- include('./frame/header.ejs') %>
<!-- SHOW ALL userS -->
<%- include('./frame/menu.ejs') %>
<div id="main" class="row">
	<h1>Welcome</h1>
	<a href=""><div class="col-sm-3">Personal</div></a>
	<a href=""><div class="col-sm-3">New Client</div></a>
	<a href=""><div class="col-sm-3">Payments</div></a>
	<a href=""><div class="col-sm-3">Manage Users</div></a>
	<a href=""><div class="col-sm-3">Reports</div></a>
</div>
<%- include('./frame/footer.ejs') %>