<%- include('./frame/header.ejs') %>
<%- include('./frame/menu.ejs') %>

<style>
	form {
		display: grid;
		place-items: center;
		padding-bottom: 30px;
	}

	.form-group {
		margin-bottom: 15px;
	}
</style>

<div id="main">
	<h2 class="text-center">Update Work</h2>
	<form id="workForm">
		<div class="form-group col-12">
			<label for="organisation">Organisation</label>
			<input class="form-control" type="text" placeholder="Organisation" name="organisation" id="organisation" required>
		</div>
		<div class="form-group col-12">
			<label for="possition">Possition</label>
			<input class="form-control" type="text" placeholder="Possition" name="possition" id="possition" required>
		</div>
		<div class="form-group col-12">
			<label for="salary">Salary</label>
			<input class="form-control" type="text" placeholder="Salary" name="salary" id="salary" required>
		</div>
		<input type="hidden" name="id" value="">
		<button class="btn btn-primary" type="submit">Save</button>
	</form>
</div>

<script>
		$('#workForm').submit((e) => {
				e.preventDefault();
				$.ajax({
						url: 'http://localhost:3000/job/',
						type: 'POST',
						data: $('#workForm').serialize(),
						success: (result) => {
								console.log('result ', result);
								const showMessage = $('#showMessage');
								if (result.success) {
										$(location).attr('href', '/');
										showMessage.html(`
												<div class="alert alert-success alert-dismissible fade show" role="alert">
														<div>Welcome...</div>
												</div>`);
								} else {
										let msg = '';
										result.msg ? msg = msg = result.msg : msg = 'Invalid credentials';
										showMessage.html(`
												<div class="alert alert-danger alert-dismissible fade show" role="alert">
														<div">${msg}</div>
												</div>`);
								}
								showMessage.show( 2000 );
								setTimeout(() => {
										showMessage.hide(2000);
								}, 5000);
						},
						error: (e) => {
								console.log('Error(48): ', e);
						}
				});
		});
</script>
<%- include('./frame/footer.ejs') %>