<%- include('./frame/header.ejs') %>
<%- include('./frame/menu.ejs') %>

<style>
	form {
		display: grid;
		place-items: center;
		padding-bottom: 30px;
	}
	
	.form-group {
		margin-bottom: 15px;
	}

	fieldset {
		padding-bottom: 20px;
	}
</style>
<div id="main">
	<h2 class="text-center">Change Password</h2>
	<form id="passwordForm">
		<fieldset class="col-sm-6 row">
			<legend>Change Password</legend>
			<div class="form-group">
				<label for="old_password">old_password</label>
				<input class="form-control" type="password" name="old_password" id="old_password" placeholder="Old Password" required>
			</div>
			<br>
			<div class="form-group">
				<label for="password">Password</label>
				<input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
			</div>
			<div class="form-group">
				<label for="Confirm-Password">Confirm Password</label>
				<input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
			</div>
		</fieldset>
		<input type="hidden" name="update_personal" value="true">
		<input type="hidden" name="id" value="">
		<button class="btn btn-primary " type="submit">Update</button>
	</form>
</div>

<script>
		let password = () => /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/.test($('#password').val());
		let password2 = () => ($('#confirmPassword').val() == $('#password').val());
		$('#passwordForm').submit((e) => {
				e.preventDefault();

				console.log('necpp', password(), password2());

				$.ajax({
						url: 'http://172.105.204.217/password',
						type: 'POST',
						data: $('#passwordForm').serialize(),
						success: (result) => {
								console.log('successfully registered');
								const showMessage = $('#showMessage');
								if (result.success) {
										showMessage.html(`
											<div class="alert alert-success alert-dismissible fade show" role="alert">
												<div>Welcome...</div>
											</div>`);
										$(location).attr('href', '/login');
								} else {
										let msg = '';
										result.msg ? msg = msg = result.msg : msg = 'Invalid credentials';
										showMessage.html(`
											<div class="alert alert-danger alert-dismissible fade show" role="alert">
												<div">${msg}</div>
											</div>`);
								}
								showMessage.show(2000);
								setTimeout(() => {
										showMessage.hide(2000);
								}, 5000);
						},
						error: (e) => {
								console.log('Error: ', e);
						}
				});
		});

		$('#password').keyup(() => {
				password() ? ($('#password').css('border', '#198754 solid 2px')) : ($('#password').css('border', '#dc3545 solid 2px'));
		});
		$('#confirmPassword').keyup(() => {
				password2() ? ($('#confirmPassword').css('border', '#198754 solid 2px')) : ($('#confirmPassword').css('border', '#dc3545 solid 2px'));
		});
</script>
<%- include('./frame/footer.ejs') %>