<div class="row m-3">
	<div class="col-md-4">
		<div>Display</div>
		<div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="active" value="active"><label class="form-check-label" for="active">Active</label></div>
		<div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="late" value="late"><label class="form-check-label" for="late">Late</label></div>
		<div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" id="deffective" value="deffective"><label class="form-check-label" for="deffective">Deffective</label></div>
	</div>
	<div class="col-md-3">
		<div class="d-inline"><b>Order By </b></div>
		<div class="d-inline">
			<select id="order" class="form-select" aria-label="Default select example">
				<option selected value="default">Registration Date</option>
				<option value="name">Name</option>
				<option value="premium">Premium</option>
				<option value="payment">Payment</option>
			</select>
		</div>
	</div>
</div>
