<div class="p-2">
  <!-- <hr> -->
  <!-- <div class="col-6">
    <div class="d-inline"><b>Sort: </b></div>
    <div class="d-inline">
      <select id="order" class="form-select" aria-label="Default select example">
        <option selected value="default">Default</option>
        <option value="name">Name</option>
        <option value="polularity">Polularity</option>
        <option value="supplier">Supplier</option>
        <option value="price">Price</option>
      </select>
    </div>
  </div>
  <div class="col-6">
    <div class="d-inline"><b>Arrange by: </b></div>
    <div class="d-inline">
      <select id="sort" class="form-select" aria-label="Default select example">
        <option selected value="ascending">Ascending</option>
        <option value="descending">Descending</option>
      </select>
    </div>
  </div> -->
  <!-- <hr> -->

  <div>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">Filter</button>
  </div>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="col-12">
        <div class="d-inline"><b>Sort: </b></div>
        <div class="d-inline">
          <select id="order" class="form-select" aria-label="Default select example">
            <option selected value="default">Default</option>
            <option value="name">Name</option>
            <option value="polularity">Polularity</option>
            <option value="supplier">Supplier</option>
            <option value="price">Price</option>
            <!-- <option value="location">Location</option> -->
          </select>
        </div>
      </div>
      <div class="col-12">
        <div class="d-inline"><b>Arrange by: </b></div>
        <div class="d-inline">
          <select id="sort" class="form-select" aria-label="Default select example">
            <option selected value="ascending">Ascending</option>
            <option value="descending">Descending</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>