
<a id="toTop" class="bottom-0 end-0" href="#top"><button class="btn btn-info">Back to top</button></a>
<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/javascripts/master.js"></script>
</body>
</html>
