<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/jquery-3.6.0.min.js"></script>
		<title><%= title %></title>
	</head>
	<body class="container-lg">
		<a name="top"></a>