<div class="Search">
	<!-- Searchbar -->
	<form action="" method="post" enctype="multipart/form-data" autocomplete="off">
		<div class="form-group p-2">
			<input class="form-control" id="search" type="search" name="search" placeholder="Search">
			<!-- <button type="submit" class="btn btn-success">Search</button> -->
		</div>
	</form>
</div>
